# Server Configuration
PORT=8126
NODE_ENV=development

# Database
MONGOOSE_CONNECTION_STRING=mongodb://localhost:27017/osmosis

# JWT Secrets
ACCESS_TOKEN_SECRET=some_jwt_access_secret_here
REFRESH_TOKEN_SECRET=some_jwt_refresh_secret_here

# Resend Email Integration
RESEND_API_KEY=re_your_api_key_here
RESEND_FROM_EMAIL=hello@getstudiotime.com

# Stripe Integration (optional)
STRIPE_PUBLISHABLE_KEY=
STRIPE_TEST_KEY=
STRIPE_WEBHOOK_SECRET=
