

.css-1g5pzbs-MuiLinearProgress-root-MuiMobileStepper-progress {
    width: 340px !important;
}

.css-5rruis-MuiPaper-root-MuiMobileStepper-root {
    padding-left: 0 !important;
    padding-right: 0 !important;
}