.css-1ee5err-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
    color:#00aeef !important;
}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
    color:#00aeef !important;
}

.MuiBottomNavigationAction-iconOnly {
    color: gray !important;
}

.BottomNav-web {
    padding-bottom: 0;
}